* {
	margin:0;
	padding:0;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

body {
	font:300 18px/1.6 'century gothic';
	color:#000;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering:optimizeLegibility;
	-webkit-tap-highlight-color:#ccc
}

a {
	color:#aaa;
	text-decoration:none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
/*
a:active,a:focus,a:hover {
	color:#000;
	outline:0
}
*/

.title {
	background-color:rgba(0,0,0,.8);
	color:#aaa;
	padding:13% 10%
}


/*.archives div,.title div {
	max-width:700px
}*/

.title h1 {
	font-weight:300;
	font-size:180%;
	line-height:180%;
	margin-bottom:0;
	color:#fff
}


.content {
	border-bottom:1px solid #f1f1f1;
	padding:7.5% 10%;
	font-size:85%
}

.content div {
	max-width:700px
}
.content img,.content video {
	width:100%;
	height:auto;
	display:block
}
.content h2,.content h3 {
	margin:3rem 0 1.5rem;
	font-weight:300
}
.content p {
	margin-bottom:1.5rem
}
.content p:last-child {
	margin-bottom:0
}


h2 {
	position:relative;
	left:-169px;
	margin-bottom:-50px;
	width:168px;
	opacity:0.99;
}

h2 a{

	font-size:14px;
	padding:25px 10px 10px 10px;
	color:#fff;
	background:rgba(0,0,0,.8);
	text-align:right;
	display:block;
}

#menu{
	position:absolute;
	bottom:15px;
	left:168px;
	z-index:10;
	width:100%;
	line-height:12px;
	font-family:'century gothic';
}

#menu div{
	height:50px;
	background:rgba(0,0,0,.8);
	padding:8px 0 0 0;
	font-family:'century gothic';
}

li a{
	height:14px;
	padding:0 15px;
	font-weight:bold;
	font-size: 13px;
	color:#fff;
	display:block
}

li a:hover {
	color:#FE2E2E;
}

h2 a:hover {
	color:#FE2E2E;
}

/*new stuff*/
body {
      position: relative;
  }
  ul.nav-pills {
      top: 63%;
      left: 80%;
      position: fixed;
      background-color: red;
  }

  div.col-sm-9 div {
      font-size: 28px;
  }

  #section1 {color: #fff; background-color: #1E88E5;}
  #section2 {color: #fff; background-color: #673ab7;}
  #section3 {color: #fff; background-color: #ff9800;}
  #section41 {color: #fff; background-color: #00bcd4;}
  #section42 {color: #fff; background-color: #009688;}
  
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 0px;
    }
  }		